GLOBANT_API_KEY=
# GLOBANT_MODEL=vertex_ai/claude-sonnet-4-20250514
GLOBANT_MODEL=globant_dgx/GLM-4.6
TAVILY_API_KEY=

LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=first   # optional, defaults to "default"
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
